# - ----- -
# - Rules -
# - ----- -

# Sticky windows
for_window [app_id = "^dragon$"] sticky enable

# Floating windows
for_window [app_id = "floating"] floating enable
for_window [app_id = "floating_update"] floating enable
for_window [window_role = "pop-up"] floating enable
for_window [window_role = "dialog"] floating enable
for_window [window_type = "dialog"] floating enable

for_window [app_id = "zenity"] floating enable
for_window [app_id = "yad"] floating enable
for_window [app_id = "galculator"] floating enable
for_window [app_id = "pavucontrol"] floating enable
for_window [app_id = "blueberry"] floating enable
for_window [app_id = "blueman-manager"] floating enable
for_window [app_id = "virt-manager"] floating enable

for_window [app_id = "firefox" title="Picture-in-Picture"] floating enable
for_window [title = ".* is sharing your screen."] floating enable
for_window [app_id = "firefox" title="Firefox — Sharing Indicator"] floating enable
for_window [class = "steam" title="Friends List"] floating enable
for_window [title = "^Bitwarden$"] floating enable
for_window [app_id = "chrome-*"] floating enable
for_window [title = "^Open File$"] floating enable
for_window [title = "^Extension: .*"] floating enable

# Inhibit screensaver
for_window [class=".*"] inhibit_idle fullscreen

# Popup during fullscreen
# This refers to a popup that is a child of the fullscreen window.
# Other unrelated popups will not trigger this.
# popup_during_fullscreen leave_fullscreen

# Mouse rules
focus_follows_mouse no
focus_on_window_activation focus

# vim:set ft=conf:
